{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}


{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}



{% block form %}
   
    {{ block('parentForm') }}
    
    <div class="box box-success hidden" id="{{ form.vars.id }}_faixas-entrega">
        <div class="box-header">
            <h4 class="box-title">
                Resultado
            </h4>
        </div>
        <div class="box-body" id="{{ form.vars.id }}_faixas-entrega--corpo">
            
        </div>
    </div>
    
    <script type="text/javascript">
        $(function(){
            
            var camposDinamicos = function() {
                var cep = $("#{{ form.vars.id }}_cep").val();
                var peso = $("#{{ form.vars.id }}_peso").val();
                var faixas_entrega = $("#{{ form.vars.id }}_faixas-entrega");
                var faixas_entrega_corpo = $("#{{ form.vars.id }}_faixas-entrega--corpo");

                $.ajax({
                    type: "POST",
                    dataType: 'html',
                    data: { cep: cep, peso: peso },
                    url:"{{ admin.generateUrl('calculaFrete') }}",
                    success: function(data){
                        faixas_entrega_corpo.eq(0).html(data);
                        faixas_entrega.removeClass('hidden');
                    },
                    error: function (data) {
                        faixas_entrega.addClass('hidden');
                    }
                });
            };
            
            var qualquercampo = $("[id^='{{ form.vars.id }}']");
            
            qualquercampo.each(function() {
                $(this).unbind();
                $(this).on('input',function(e){
                    camposDinamicos();
                });
            });
        });
    </script>
    
{% endblock %}

{% block formactions %}
{% endblock formactions %}